
.waitTimes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timesHeader {
  font-family: "Roboto", sans-serif;
  font-size: 4.375rem;
  font-weight: normal;
  margin: 0 0 80px 0;
  text-align: center;
}

.timesList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
}

/* The timeItem */

.timeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 30px 50px 30px;
}

.timeHeader {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  min-width: 200px;
  text-align: center;
  border-bottom: 1px solid #949400;
}

.timeDesc {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #555;
}

.timeDirections {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  color: #555;
}

.timeMap {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  color: #555;
}

.timePhone {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #555;
}

.saveBtn {
  background: #949400;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 1rem
}

.saveBtn:hover {
  cursor: pointer;
}

.chev {
  margin-left: 5px;
}

.leftMark {
  margin-right: 10px;
}

@media(max-width: 700px) {

  .timesHeader {
    font-size: 3.75rem;
    margin: 0 0 30px 0;
  }

  .timeItem {
    margin: 30px 20px 30px 20px;
  }

}

@media(max-width: 400px) {

  .timesHeader {
    font-size: 3.125rem;
  }

}